!!!
%html
  %head
    %title Holding Page
  %body
    %p
      Hi,
      %a{:href => "http://simonstarr.com/"} Simon
      registered #{request.env["HTTP_HOST"].sub(/^(?:www)\./, '')[/^[^.]+/]} but hasn't done anything with it yet.