<html>
  <head>
    <title>Emma Whiting - Artist</title>
    <meta name="description" content="Emma Whiting is an artist based in York, North Yorkshire.">
    <meta name='keywords' content="emma, whiting, emma whiting, art, painting, york, yorkshire">
    <style type="text/css">
      body {
        background-color: #fff;
        margin: 0px
      }
      img {
        border: none;
      }
      #container {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 0px;
        width: 100%;
        height: 1px;
        overflow: visible;
        visibility: visible;
        display: block
      }
      #content {
        margin-left: -190px;
        position: absolute;
        top: -95px;
        left: 50%;
        width: 380px;
        height: 160px;
        visibility: visible
      }
    </style>
  </head>
  <body>

    <div id="container">
      <div id="content">
        <img alt="Emma Whiting - Website Coming Soon" height="160" width="380" src="notice.gif" />
      </div>
    </div>
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("UA-6479775-12");
        pageTracker._trackPageview();
        } catch(err) {}
      </script>
    </body>

</html>