<html>
<head>
  <title>ruffest.org</title>
  <style type="text/css">
    p {color: rgb(200,200,200); font: 9px "Lucida Grande", Lucida, Verdana, sans-serif; text-align: center}
    a {color: rgb(200,200,200);}
    body {background-color: #000}
  </style>
</head>

<body>
  <object width="100%" height="93%"><param name="movie" value="http://www.youtube.com/v/JdYHz3Nb7lQ&hl=en&fs=1&rel=0&ap=%2526fmt%3D18"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/JdYHz3Nb7lQ&hl=en&fs=1&rel=0&ap=%2526fmt%3D18&autoplay=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="99%" height="93%"></embed></object>
  <p>Music by <a href="http://theprodigy.com/">The Prodigy</a>. Video by <a href="http://www.youtube.com/Ruffest88">Ruffest88</a>.</p>

  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-6479775-4");
  pageTracker._trackPageview();
  } catch(err) {}</script>
</body>
</html>
